<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>딸깍은행::은행거래 필요서류안내</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_documentList.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
    <script th:src="@{/js/admin/admin_documentList.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">은행거래 필요서류안내</span>
            </div>

            <form th:action="@{/admin/docu/list/search}" method="get" class="search_form">
                <span class="search_sp">필요서류 검색</span>
                <input type="text" name="keyword" class="search-input">
                <input type="submit" class="search-btn" value="검색">
            </form>

            <div class="cs_menuBox">
                <div class="cs_menu">
                    <div class="cs_menuBtn" th:classappend="${cate == null or cate == '' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list}'|">전체</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '01' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list(groupCode=DOC_TYPE, docCategory=&#39;01&#39;)}'|">수신</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '02' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list(groupCode=DOC_TYPE, docCategory=&#39;02&#39;)}'|">신탁</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '03' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list(groupCode=DOC_TYPE, docCategory=&#39;03&#39;)}'|">대출</div>
                    <div class="cs_menuBtn cs_menuBtn_last" th:classappend="${cate == '04' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list(groupCode=DOC_TYPE, docCategory=&#39;04&#39;)}'|">WM</div>
                </div>

                <div class="cs_menu">
                    <div class="cs_menuBtn" th:classappend="${cate == '05' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list(groupCode=DOC_TYPE, docCategory=&#39;05&#39;)}'|">카드</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '06' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list(groupCode=DOC_TYPE, docCategory=&#39;06&#39;)}'|">외환</div>
                    <div class="cs_menuBtn cs_menuBtn_last" th:classappend="${cate == '07' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/docu/list(groupCode=DOC_TYPE, docCategory=&#39;07&#39;)}'|">전자금융</div>
                    <div class="cs_menuBtn_empty">&nbsp;</div>
                    <div class="cs_menuBtn_empty cs_menuBtn_last">&nbsp;</div>
                </div>
            </div>

            <table>
                <tr style="background-color: #E1545A;color:white;">
                    <th style="border-radius: 5px 0 0 0;">
                        <input type="checkbox" class="all_select">
                    </th>
                    <th>No.</th>
                    <th>유형</th>
                    <th style="width: 692px;">제목</th>
                    <th>날짜</th>
                    <th>상태</th>
                    <th style="border-radius: 0 5px 0 0;width: 300px;">관리</th>
                </tr>
                <tr class="content_tr detailBtn" th:each="adminDoc, stat:${pageResponseDTO.dtoList}">
                    <td>
                        <input type="checkbox" class="row-checkbox" th:value="${adminDoc.docId}">
                    </td>
                    <td>[[${adminDoc.docId}]]</td>
                    <td>[[${adminDoc.codeName}]]</td>
                    <td>
                        <a th:href="@{/admin/docu/view(docId=${adminDoc.docId})}" class="td_a">[[${adminDoc.title}]]</a>
                    </td>
                    <td th:text="${adminDoc.createdAt.substring(2, 4) + '.' + adminDoc.createdAt.substring(5, 7) + '.' + adminDoc.createdAt.substring(8, 10)}"></td>
                    <td class="status1" th:text="${adminDoc.status == 'Y' ? '활성화' : '비활성화'}"
                        th:class="${adminDoc.status == 'Y' ? 'status1' : 'status2'}"></td>
                    <td>
                        <a th:href="@{/admin/docu/delete(docId=${adminDoc.docId})}" class="delete_btn">삭제</a>
                        <a th:href="@{/admin/docu/modify(docId=${adminDoc.docId})}" class="update_btn">수정</a>
                    </td>
                </tr>
            </table>

            <div class="btn_box">
                <button class="select_delete">선택삭제</button>
                <button class="create_btn" th:onclick="|location.href='@{/admin/docu/write}'|">작성하기</button>
            </div>

            <div class="page_div">
                <ul class="pagenation">
                    <li th:if="${pageResponseDTO.prev}">
                        <a class="page2" th:href="@{/admin/docu/list(pg=${pageResponseDTO.start - 1})}">
                            <span class="prev"></span>
                        </a>
                    </li>
                    <th:block th:if="${pageResponseDTO.total > 0}" th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <li>
                            <a th:href="@{/admin/docu/list (pg=${num})}" th:class="${num == pageResponseDTO.pg ? 'page1' : 'page2'}">[[${num}]]</a>
                        </li>
                    </th:block>
                    <!-- 데이터가 없을 때 -->
                    <th:block th:if="${pageResponseDTO.total == 0}">
                        <li>
                            <a th:href="@{/admin/docu/list(pg=1)}" class="page1">1</a>
                        </li>
                    </th:block>
                    <li th:if="${pageResponseDTO.next}">
                        <a class="page2" th:href="@{/admin/docu/list(pg=${pageResponseDTO.end + 1})}">
                            <span class="next"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


</body>
</html>