<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>딸깍은행::은행거래 필요서류 작성</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_documentWrite.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("codeName").addEventListener("change", function () {
            let selected = this.options[this.selectedIndex];

            document.getElementById("groupCode").value = selected.dataset.group;
            document.getElementById("docCategory").value = selected.dataset.category;
            });
        });
    </script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">은행거래 필요서류 작성</span>
            </div>

            <form th:action="@{/admin/docu/write}" method="post">
                <div class="form-group">
                    <label class="form-label">유형</label>
                    <select name="codeName" id="codeName" style="appearance: none;">
                        <option>선택</option>
                        <option data-group="DOC_TYPE" data-category="01">수신</option>
                        <option data-group="DOC_TYPE" data-category="02">신탁</option>
                        <option data-group="DOC_TYPE" data-category="03">대출</option>
                        <option data-group="DOC_TYPE" data-category="04">WM</option>
                        <option data-group="DOC_TYPE" data-category="05">카드</option>
                        <option data-group="DOC_TYPE" data-category="06">외환</option>
                        <option data-group="DOC_TYPE" data-category="07">전자금융</option>
                    </select>
                    <input type="hidden" name="groupCode" id="groupCode">
                    <input type="hidden" name="docCategory" id="docCategory">
                </div>

                <div class="form-group">
                    <label class="form-label">제목</label>
                    <input
                        type="text" name="title"
                        class="form-input" placeholder="제목을 입력하세요"
                        maxlength="100">
                </div>

                <div class="form-group">
                    <label class="form-label">내용</label>
                    <textarea
                        name="content" id="content"
                        class="form-textarea" placeholder="내용을 작성해주세요"></textarea>
                </div>

                <div class="button-group">
                    <button type="button" class="btn btn-cancel" onclick="history.back()">취소하기</button>
                    <button type="submit" class="btn btn-submit">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>