<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Admin 왼쪽 사이드바 Fragment -->
    <div th:fragment="sidebar" class="main-left">
        <img th:src="@{/images/admin/TKBank_logo-W.png}" alt="딸깍은행" class="main-logo">

        <!-- 로그인 상태 -->
        <div sec:authorize="isAuthenticated()" class="first-line">
            <span class="name_sp" sec:authentication="name"></span>
            <div class="name-right">
                <span class="welcome_sp">환영합니다!</span>
                <a th:href="@{/admin/logout}" class="logout_btn">
                    <img th:src="@{/images/admin/log-out.png}" alt="로그아웃 버튼" class="logout_img">
                </a>
            </div>
        </div>

        <!-- 비로그인 상태 -->
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/admin/login}" class="login_btn">로그인</a>
        </div>

        <!-- 검색 박스 -->
        <div class="search-box">
            <input type="text" id="search_input" placeholder="Search...">
            <button class="search_btn">
                <img th:src="@{/images/admin/magnifier.png}" alt="검색 버튼" class="search_img">
            </button>
        </div>

        <!-- 환경설정 카테고리 -->
        <div class="category1">
            <div class="category1_img_div">
                <img th:src="@{/images/admin/cogwheel.png}" alt="환경설정" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">환경설정</span>
        </div>
        <ul class="category1-ul">
            <li class="category-li"><a th:href="@{/admin/setting?tab=account}" class="category-a">관리자 계정관리</a></li>
            <li class="category-li"><a th:href="@{/admin/setting?tab=security}" class="category-a">보안 설정</a></li>
            <li class="category-li"><a th:href="@{/admin/setting?tab=site}" class="category-a">사이트 기본 설정</a></li>
            <li class="category-li"><a th:href="@{/admin/term/list}" class="category-a">정책 약관 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/category}" class="category-a">카테고리 관리</a></li>
        </ul>

        <!-- 상품 목록 관리 카테고리 -->
        <div class="category2">
            <div class="category2_img_div">
                <img th:src="@{/images/admin/banknotes.png}" alt="은행 상품 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">상품 관리</span>
        </div>
        <ul class="category2-ul">
            <li class="category-li"><a th:href="@{/admin/product}" class="category-a">상품 목록 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/product?tab=productSubscriber}" class="category-a">상품 가입 현황 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/product?tab=productTerms}" class="category-a">상품 약관 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/quiz}" class="category-a">퀴즈 목록 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/coupon}" class="category-a">쿠폰 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/point/level}" class="category-a">레벨 설정 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/point/attendance-reward}" class="category-a">출석 보상 설정</a></li>
            <li class="category-li"><a th:href="@{/admin/branch}" class="category-a">영업점 관리</a></li>
        </ul>

        <!-- 회원 관리 카테고리 -->
        <div class="category3">
            <div class="category3_img_div">
                <img th:src="@{/images/admin/user.png}" alt="회원 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">회원 관리</span>
        </div>
        <ul class="category3-ul">
            <li class="category-li"><a th:href="@{/admin/member/list}" class="category-a">회원 목록 관리</a></li>
        </ul>

        <!-- 게시판 관리 카테고리 -->
        <div class="category4">
            <div class="category4_img_div">
                <img th:src="@{/images/admin/list.png}" alt="게시판 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">게시판 관리</span>
        </div>
        <ul class="category4-ul">
            <li class="category-li"><a th:href="@{/admin/report/list}" class="category-a">보도자료 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/notice/list}" class="category-a">공지사항 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/event/list}" class="category-a">이벤트 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/invest/list}" class="category-a">투자자 정보 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/coin-chart}" class="category-a">비트코인/금/오일 시세 관리</a></li>
        </ul>

        <!-- 고객센터 관리 카테고리 -->
        <div class="category5">
            <div class="category5_img_div">
                <img th:src="@{/images/admin/receiver.png}" alt="고객센터 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">고객센터 관리</span>
        </div>
        <ul class="category5-ul">
            <li class="category-li"><a th:href="@{/admin/faq/list}" class="category-a">FAQ 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/docu/list}" class="category-a">은행거래 필요서류 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/counsel/list}" class="category-a">이메일 상담 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/disclosure/list}" class="category-a">상품공시실 관리</a></li>
            <li class="category-li"><a th:href="@{/admin/archive/list}" class="category-a">서식/약관/자료실 관리</a></li>
        </ul>

        <!-- 앱 관리 카테고리 -->
        <div class="category6">
            <div class="category6_img_div">
                <img th:src="@{/images/admin/smartphone-call.png}" alt="앱 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">앱 관리</span>
        </div>
        <ul class="category6-ul">
            <li class="category-li"><a th:href="@{/admin/notification/list}" class="category-a">푸시 알림 관리</a></li>
        </ul>

        <!-- 푸터 -->
        <div class="footer_div">
            <span>COPYRIGHT <br>
                © 2014 BUSANBANK. ALL RIGHTS RESERVED.
            </span>
        </div>
    </div>
</body>
</html>
