<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>딸깍은행::관리자 로그인</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminLogin.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->

    <script th:src="@{/js/member/msgBox.js}" defer></script><!-- 로그인 실패 시 박스 -->
</head>
<body>

<div th:if="${msg}" th:data-msg="${msg}" id="msgBox"></div>
    <div class="container" style="display: flex; flex-direction: column;">
        <div class="login_top">
            <img th:src="@{/images/admin/Family-Font.png}" alt="로그인 이미지" class="login_img">
            <img th:src="@{/images/admin/TKBank_logo.png}" alt="딸깍은행 로고" class="logo_img">
        </div>

        <div class="login_bottom">
            <div class="span_div">
                <span class="sp1">TK</span>
                <span class="sp2">딸깍은행 Management</span>
            </div>

            <form th:action="@{/admin/login}" method="post">
                <div class="id_div">
                    <div class="img_div">
                        <img th:src="@{/images/admin/user.png}" alt="아이디 아이콘" style="width: 18px;height: 18px;">
                    </div>

                    <input type="text" placeholder="ID" class="login" name="loginId">

                </div>

                <div class="pw_div">
                    <div class="img_div">
                        <img th:src="@{/images/admin/key.png}" alt="비밀번호 아이콘 " style="width: 18px;height: 18px;">
                    </div>

                    <input type="password" placeholder="Password" class="login" name="password">
                </div>
                <button type="submit" class="login_btn">Login</button>
            </form>

            <span class="footer_sp">
                COPYRIGHT © 2014 BUSANBANK. ALL RIGHTS RESERVED.
            </span>
        </div>
    </div>
</body>
</html>