<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>딸깍은행::관리자 메인</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminMain.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->

    <script th:src="@{/js/admin/admin_category.js}"></script>
    <script th:src="@{/js/admin/adminMain.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2" defer></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="main_grape main_grape1">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">상품 유형별 가입 비율</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <span class="chart-timestamp current_timestamp"></span>

                    <div class="chart-wrapper">
                        <canvas id="product_pieChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="main_grape main_grape2">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">고객 연령대별 비율</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <span class="chart-timestamp current_timestamp"></span>

                    <div class="chart-wrapper">
                        <canvas id="client_pieChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="main_grape main_grape3">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">판매 많은 상품</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <div class="content_title">
                        <span class="content_title_sp">Page Url</span>
                        <span class="content_title_sp">Sold</span>
                    </div>
                    <ul style="width: 430px;margin-top: 15px;">
                        <li class="content_li">
                            <a href="#" class="content_a_sp">1. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">32</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">2. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">28</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">3. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">25</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">4. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">21</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">5. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">18</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">6. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">14</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">7. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">11</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">8. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">9</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main_grape main_grape4">
                <div class="main_grape_title main_grape_title2">
                    <div>
                        <span class="menu_sp">고객센터 관리</span>
                        <span class="menu_sp2">고객문의, 상담, 민원 등 응대 현황</span>
                    </div>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content2">
                    <div>
                        <span class="consultation_title">고객상담</span>
                        <div class="chart-wrapper2">
                            <canvas id="consultation_chart"></canvas>
                        </div>
                    </div>
                    <div style="margin-left: 33px;">
                        <span class="consultation_title">챗봇문의</span>
                        <div class="chart-wrapper2">
                            <canvas id="chatBot_chart"></canvas>
                        </div>
                    </div>
                    <div style="margin-left: 33px;">
                        <span class="consultation_title">금융민원</span>
                        <div class="chart-wrapper2">
                            <canvas id="finance_Chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main_grape main_grape5">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">조회 많은 상품</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <div class="content_title">
                        <span class="content_title_sp">Page Url</span>
                        <span class="content_title_sp">HIT</span>
                    </div>
                    <ul style="width: 430px;margin-top: 15px;">
                        <li class="content_li">
                            <a href="#" class="content_a_sp">1. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">1,589</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">2. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">1,145</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">3. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">984</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">4. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">876</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">5. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">648</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">6. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">549</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">7. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">387</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">8. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">259</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


</body>
</html>