<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>딸깍은행::푸시 알림 관리</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_reportList.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
    <script th:src="@{/js/admin/admin_notification.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">푸시 알림 관리</span>
            </div>

            <form th:action="@{/admin/notification/list/search}" method="get" class="search_form">
                <select class="search-select" name="searchType">
                    <option value="title">제목</option>
                </select>
                <input type="text" name="keyword" class="search-input">
                <input type="submit" class="search-btn" value="검색">
            </form>

            <table>
                <tr style="background-color: #E1545A;color:white;">
                    <th style="border-radius: 5px 0 0 0;">
                        <input type="checkbox" class="all_select">
                    </th>
                    <th>No.</th>
                    <th style="width: 692px;">제목</th>
                    <th>날짜</th>
                    <th style="border-radius: 0 5px 0 0;width: 300px;">관리</th>
                </tr>
                <tr class="content_tr detailBtn" th:each="dto, stat:${pageResponseDTO.dtoList}">
                    <td>
                        <input type="checkbox" class="row-checkbox" th:value="${dto.id}">
                    </td>
                    <td>[[${dto.id}]]</td>
                    <td>
                        <span class="td_a"><strong th:text="${dto.autoBtn == 'Y' ? '[자동]' : '[수동]'}"></strong>&nbsp;[[${dto.title}]]</span>
                    </td>
                    <td th:text="${dto.createdAt.substring(2, 4) + '.' + dto.createdAt.substring(5, 7) + '.' + dto.createdAt.substring(8, 10)}"></td>
                    <td>
                        <a th:href="@{/admin/notification/delete(id=${dto.id})}" class="delete_btn">삭제</a>
                    </td>
                </tr>
            </table>

            <div class="btn_box">
                <button class="select_delete">선택삭제</button>
                <button class="create_btn" th:onclick="|location.href='@{/admin/notification/write}'|">작성하기</button>
            </div>

            <div class="page_div">
                <ul class="pagenation">
                    <li th:if="${pageResponseDTO.prev}">
                        <a class="page2" th:href="@{/admin/notification/list(pg=${pageResponseDTO.start - 1})}">
                            <span class="prev"></span>
                        </a>
                    </li>
                    <th:block th:if="${pageResponseDTO.total > 0}" th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <li>
                            <a th:href="@{/admin/notification/list (pg=${num})}" th:class="${num == pageResponseDTO.pg ? 'page1' : 'page2'}">[[${num}]]</a>
                        </li>
                    </th:block>

                    <li th:if="${pageResponseDTO.next}">
                        <a class="page2" th:href="@{/admin/notification/list(pg=${pageResponseDTO.end + 1})}">
                            <span class="next"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>