logging:
  file:
    name: logs/Busanbank.log
  level:
    root: info
mybatis:
  mapper-locations: classpath:mappers/**/*.xml
server:
  port: 8080
  servlet:
    context-path: /busanbank
    session:
      timeout: 30m  # 세션 타임아웃 (분 단위, 기본값 30분)
  tomcat:
    uri-encoding: UTF-8
spring:
  application:
    name: Busanbank
    version: 0.0.1-SNAPSHOT
  data:
    redis:
      host: localhost  # 배포할 때, 127.0.0.1 로 수정해서 진행
      port: 6379
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@34.158.204.102:1521/XEPDB1
    username: bnkproject
    password: abc1234
    hikari:
      maximumPoolSize: 10
      minimumIdle: 3
      idleTimeout: 180000        # 3분
      maxLifetime: 300000        # 5분
      connectionTimeout: 30000   # 30초
      validationTimeout: 5000    # 5초
  devtools:
    livereload:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: yd89023754@gmail.com
    password: jifeinzsrqaqrrwl
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            required: true
            enable: true
          ssl:
            trust: smtp.gmail.com
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  solapi:
    api:
      key: ${SOLAPI_KEY:default_value}
      secret: ${SOLAPI_SECRET:default_value}
      from: ${SOLAPI_FROM:default_value}

#  youtube:
#    api:
#      api-key: ${YOUTUBE_API_KEY}
#      playlist-id: "PLZGDyqLjHoLQpBJ59m1lRHGP__TCvSDF2"

  gemini:
    api:
      key: ${GEMINI_KEY:default_value}

  openai:
    api-key: ${OPENAI_KEY:default_value}

  google:
    vision:
      api-key: AIzaSyABTgUmMAZImCNHa1kPXfIG5ct5Ueos9jU

  aes:
    secret-key: ${AES_SECRET:BusanBankAESKey1}

  security:
    user:
      name: user
      password: 1234
      roles: ADMIN
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: ${GOOGLE_CLIENT_ID}
#            client-secret: ${GOOGLE_CLIENT_SECRET}
#            scope:
#              - email
#              - profile
#          naver:
#            client-id: ${NAVER_CLIENT_ID}
#            client-secret: ${NAVER_CLIENT_SECRET}
#            scope: name,email
#            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
#            client-name: Naver
#            authorization-grant-type: authorization_code
#          kakao:
#            client-id: ${KAKAO_CLIENT_ID}
#            client-secret: ${KAKAO_CLIENT_SECRET}
#            client-name: Kakao
#            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
#            authorization-grant-type: authorization_code
#            client-authentication-method: client_secret_post
#            scope: profile_nickname
#        provider:
#          google:
#            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
#            token-uri: https://oauth2.googleapis.com/token
#            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
#            user-name-attribute: sub
#          naver:
#            authorization-uri: https://nid.naver.com/oauth2.0/authorize
#            token-uri: https://nid.naver.com/oauth2.0/token
#            user-info-uri: https://openapi.naver.com/v1/nid/me
#            user-name-attribute: response
#          kakao:
#            authorization-uri: https://kauth.kakao.com/oauth/authorize
#            token-uri: https://kauth.kakao.com/oauth/token
#            user-info-uri: https://kapi.kakao.com/v2/user/me
#            user-name-attribute: id

coin:
  api:
    key: 648e877816884b0fb17a020082e40d2f

deepl:
  api-key: f4c76e28-97e3-4802-9c3b-30524c65fec2:f
gold:
  api:
    key: 59bc0415bb3e4270fce2393e2d74b9d3

file:
  upload:
    path: /var/lib/busanbank/uploads/


firebase:
  credentials-path: ${FIREBASE_CREDENTIALS_PATH}

# jwt 관련 Key 추가
jwt:
  issuer: yd89023754@gmail.com
  secret: E912C15AA2495217ECD6BE5BEA8D1102  



#file:
#  upload:
#    path: C:/busanbank/uploads/

