<!--
    날짜 : 2025/11/21
    이름 : 오서정
    내용 : 아이디 찾기 완료 페이지 html/css 수정 작성
-->
<div th:replace="~{member/_head.html}"></div>
    
    <main>
        <div class="board">
             <div class="board-upper">
                <h2>아이디 찾기</h2>
            </div>
            <div class="board-lower">
                <div class="register-step">
                     <p class="no-step">1</p>
                    <div class="now-step">
                        <p><span>2 </span>아이디 조회</p>
                    </div>
                </div>

                <div class="finish-step">  
                
<!--                    <svg xmlns="http://www.w3.org/2000/svg" color="#D85258" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-check-icon lucide-user-round-check"><path d="M2 21a8 8 0 0 1 13.292-6"/><circle cx="10" cy="8" r="5"/><path d="m16 19 2 2 4-4"/></svg>-->
                    <img th:src="@{/images/member/choose.gif}">
                    <h3><strong>[[${findIdInfo.userName}]]</strong>님의 아이디는 <br><span>[[${findIdInfo.userId}]]</span>입니다.</h3>
                    <div class="btn-finish-wrap">
                        <button type="button" class="login-btn" onclick="location.href='/busanbank/member/login'">로그인<i class="xi-caret-up-circle-o icon"></i></button>
                    </div>
                </div>

                

            </div>


        </div>
    </main>
<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>