<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>딸깍은행::자주 하시는 질문</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_FAQList.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
    <script th:src="@{/js/admin/admin_FAQList.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">FAQ(자주하시는질문)</span>
            </div>

            <form th:action="@{/admin/faq/list/search}" method="get" class="search_form">
                <span class="search_sp">FAQ 검색</span>
                <input type="text" name="keyword" class="search-input">
                <input type="submit" class="search-btn" value="검색">
            </form>

            <div class="cs_menuBox">
                <div class="cs_menu">
                    <div class="cs_menuBtn" th:classappend="${cate == null or cate == '' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list}'|">TOP 10</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '01' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;01&#39;)}'|">예금</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '02' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;02&#39;)}'|">카드</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '03' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;03&#39;)}'|">대출</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '04' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;04&#39;)}'|">펀드</div>
                    <div class="cs_menuBtn cs_menuBtn_last" th:classappend="${cate == '05' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;05&#39;)}'|">외환</div>
                </div>

                <div class="cs_menu">
                    <div class="cs_menuBtn" th:classappend="${cate == '06' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;06&#39;)}'|">신탁</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '07' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;07&#39;)}'|">보험</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '08' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;08&#39;)}'|">인터넷뱅킹</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '09' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;09&#39;)}'|">모바일뱅킹</div>
                    <div class="cs_menuBtn" th:classappend="${cate == '10' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;10&#39;)}'|">텔레뱅킹</div>
                    <div class="cs_menuBtn cs_menuBtn_last" th:classappend="${cate == '11' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;11&#39;)}'|">공동인증서</div>
                </div>
                <div class="cs_menu">
                    <div class="cs_menuBtn" th:classappend="${cate == '12' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;12&#39;)}'|">금융인증서</div>
                    <div class="cs_menuBtn cs_menuBtn_last" th:classappend="${cate == '13' ? ' active' : ''}"
                         th:onclick="|location.href='@{/admin/faq/list(groupCode=FAQ_TYPE, faqCategory=&#39;13&#39;)}'|">기타</div>
                </div>
            </div>

            <table>
                <tr style="background-color: #E1545A;color:white;">
                    <th style="border-radius: 5px 0 0 0;">
                        <input type="checkbox" class="all_select">
                    </th>
                    <th>No.</th>
                    <th>유형</th>
                    <th style="width: 692px;">제목</th>
                    <th>날짜</th>
                    <th>상태</th>
                    <th style="border-radius: 0 5px 0 0;width: 300px;">관리</th>
                </tr>
                <tr class="content_tr detailBtn" th:each="adminFaq, stat:${pageResponseDTO.dtoList}">
                    <td>
                        <input type="checkbox" class="row-checkbox" th:value="${adminFaq.faqId}">
                    </td>
                    <td>[[${adminFaq.faqId}]]</td>
                    <td>[[${adminFaq.codeName}]]</td>
                    <td>
                        <a th:href="@{/admin/faq/view(faqId=${adminFaq.faqId})}" class="td_a">[[${adminFaq.question}]]</a>
                    </td>
                    <td th:text="${adminFaq.createdAt.substring(2, 4) + '.' + adminFaq.createdAt.substring(5, 7) + '.' + adminFaq.createdAt.substring(8, 10)}"></td>
                    <td class="status1" th:text="${adminFaq.status == 'Y' ? '활성화' : '비활성화'}"></td>
                    <td>
                        <a th:href="@{/admin/faq/delete(faqId=${adminFaq.faqId})}" class="delete_btn">삭제</a>
                        <a th:href="@{/admin/faq/modify(faqId=${adminFaq.faqId})}" class="update_btn">수정</a>
                    </td>
                </tr>

            </table>

            <div class="btn_box">
                <button class="select_delete">선택삭제</button>
                <button class="create_btn" th:onclick="|location.href='@{/admin/faq/write}'|">작성하기</button>
            </div>

            <div class="page_div">
                <ul class="pagenation">
                    <li th:if="${pageResponseDTO.prev}">
                        <a class="page2" th:href="@{/admin/faq/list(pg=${pageResponseDTO.start - 1})}">
                            <span class="prev"></span>
                        </a>
                    </li>

                    <th:block th:if="${pageResponseDTO.total > 0}" th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <li>
                            <a th:href="@{/admin/faq/list (pg=${num})}" th:class="${num == pageResponseDTO.pg ? 'page1' : 'page2'}">[[${num}]]</a>
                        </li>
                    </th:block>

                    <li th:if="${pageResponseDTO.next}">
                        <a class="page2" th:href="@{/admin/faq/list(pg=${pageResponseDTO.end + 1})}">
                            <span class="next"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


</body>
</html>