<!--날짜 : 2025/12/01
이름 : 오서정
내용 : 마이페이지 상품 해지 수정 작성
-->
<div th:replace="~{my/_head.html}"></div>
<script th:src="@{/js/my/sidebar.js}" defer></script>
<script th:src="@{/js/my/modal.js}" defer></script>

<main>
        <div class="board">
            <div class="side">
                <h2>마이페이지</h2>
                <aside class="sidebar">
                    <div class="side-item">
                        <div class="main-menu">
                            <p>금융상품</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/items}" class="sub-link">상품 가입 정보</a></li>
                            <li><a th:href="@{/my/cancel}" class="sub-link">상품 해지</a></li>
                        </ul>
                    </div>
                    <div class="side-item">
                        <div class="main-menu">
                            <p>설정</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/modify}" class="sub-link">사용자 정보 수정</a></li>
                            <li><a th:href="@{/my/change}" class="sub-link">비밀번호 수정</a></li>
                            <li><a th:href="@{/my/withdraw}" class="sub-link">회원탈퇴</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
    
     

            <div class="content">

                <div class="board-upper">
                    <h2>상품 해지</h2>

                </div>

                <div class="board-lower">

                    <div class="register-step">
                        <p class="no-step">1</p>
                        <div class="now-step">
                            <p><span>2 </span>해지내역</p>
                        </div>
                        <p class="no-step">3</p>
                    </div>

                    <div class="table-area">
                         <h3>해지 상품 정보</h3>
                        <table class="info-table">
                            <tr>
                                <th>해지구분</th>
                                <td th:text="${cancelProduct.mature ? '만기해지' : '조기해지'}"></td>
                                <th>해지예정일</th>
                                <td th:text="${cancelProduct.actualCancelDate}"></td>
                            </tr>
                            <tr>
                                <th>신규일자</th>
                                <td th:text="${cancelProduct.startDate}"></td>
                                <th>만기일자</th>
                                <td th:text="${cancelProduct.expectedEndDate}"></td>
                            </tr>
                            <tr>
                                <th>해지원금 ①</th>
                                <td th:text="${formattedPrincipal} + '원'"></td>
                                <th>해지이자 ②</th>
                                <td th:text="${formattedEarlyInterest} + '원'"></td>
                            </tr>
                            <tr>
                                <th>만기후이자 ③</th>
                                <td th:text="${formattedMaturityInterest} + '원'"></td>
                                <th>환입이자 ④</th>
                                <td th:text="${formattedRefundInterest} + '원'"></td>
                            </tr>
                            <tr>
                                <th>징수세금 ⑤</th>
                                <td th:text="${formattedTaxAmount} + '원'"></td>
                            </tr>
                            <tr>
                                <th>차감지급액(①+②+③-④-⑤)</th>
                                <td th:text="${formattedNetPayment} + '원'"></td>
                                <th>실입금금액</th>
                                <td th:text="${formattedFinalAmount} + '원'"></td>
                            </tr>
                        </table>
                    </div>


                    <div class="table-area">
                        <h3>입금 계좌 선택</h3>
                        <table class="info-table">
                            <tr>
                                <th>입출금 계좌</th>
                                <td>
                                    <select name="accountNo" required>
                                        <option value="">입금 받을 계좌를 선택하세요.</option>

                                        <option th:each="acc : ${depositAccounts}"
                                                th:value="${acc.accountNo}"
                                                th:text="${acc.productName + '(' + acc.accountNo + ')'}">
                                        </option>
                                    </select>

                                </td>

                            </tr>
                        </table>
                    </div>


                   

                    <div class="btn-wrap">
                        <button type="submit" class="agree-btn">확인</button>
                    </div>
                </div>

            </div>

        </div>


         <div class="modal">
            <div class="modal_body">
                <div class="modal-head">
                    <h2>상품해지</h2>
                    <button class="close-modal">&#10006;</button>
                </div>
                <form th:action="@{/my/cancel/list}" method="post">
                    <div class="pw-info">
                        <h2>상품 해지 시 모든 관련 정보가 삭제될 수 있습니다.</h2>
                        <h2>계좌 비밀번호를 입력한 후 <span>[해지하기]</span> 버튼을 누르면 상품 해지가 완료됩니다.</h2>
                        <input type="password" name="accountPassword" placeholder="계좌 비밀번호를 입력하세요.">
                        <input type="hidden" name="userId" th:value="${user.userId}">
                        <input type="hidden" name="productNo" th:value="${cancelProduct.productNo}">
                        <input type="hidden" name="accountNo" id="selectedAccountNo">
                        <input type="hidden" name="finalAmount" th:value="${cancelProduct.finalAmount}">
                    </div>
                    <div class="modalBtn-area">
                        <button type="button" class="close-modal" id="close-btn">취소</button>
                        <button type="submit" class="register-btn">해지하기</button>
                    </div>
                </form>
            </div>
        </div>

        
    </main>
<script>
    document.querySelector("select[name='accountNo']").addEventListener("change", function() {
        document.getElementById("selectedAccountNo").value = this.value;
    });
</script>
<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>