<!--
    날짜 : 2025/11/21
    이름 : 오서정
    내용 : 상품해지 선택 페이지 html/css 수정 작성
-->
<div th:replace="~{my/_head.html}"></div>
<script th:src="@{/js/my/sidebar.js}" defer></script>

<script th:src="@{/js/my/productList.js}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<main>
        <div class="board">
            <div class="side">
                <h2>마이페이지</h2>
                <aside class="sidebar">
                    <div class="side-item">
                        <div class="main-menu">
                            <p>금융상품</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/items}" class="sub-link">상품 가입 정보</a></li>
                            <li><a th:href="@{/my/cancel}" class="sub-link">상품 해지</a></li>
                        </ul>
                    </div>
                    <div class="side-item">
                        <div class="main-menu">
                            <p>설정</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/modify}" class="sub-link">사용자 정보 수정</a></li>
                            <li><a th:href="@{/my/change}" class="sub-link">비밀번호 수정</a></li>
                            <li><a th:href="@{/my/withdraw}" class="sub-link">회원탈퇴</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
    
     

            <div class="content">

                <div class="board-upper">
                    <h2>상품 해지</h2>

                </div>

                <div class="board-lower">

                    <div class="register-step">
                        <div class="now-step">
                            <p><span>1 </span>해지 상품 선택</p>
                        </div>
                        <p class="no-step">2</p>
                        <p class="no-step">3</p>
                    </div>
                    <div class="info-ment">
                        <h2>알아두세요 ▶</h2>
                        <p>· 본 거래는 취소가 불가능하오니 유의하시기 바랍니다.</p>
                    </div>
                    <form th:action="@{/my/cancel}" method="post">

                        <div class="cancel-area">
                            <p class="cancel-title"><span>해지할 상품</span>을 선택하세요</p>
                            <img th:src="@{/images/my/double-down.gif}" width="30px">

                            <div class="carousel-wrapper">
                                <div class="swiper product-carousel">
                                    <div class="swiper-wrapper">
                                        <!-- th:each 로 슬라이드 반복 -->
                                        <div class="swiper-slide" th:each="p : ${productNames}">
                                            <label class="product-card">
                                                <input type="radio" name="productNo"
                                                       th:value="${p.productNo}"
                                                       th:checked="${p.productNo == selectedProductNo}"
                                                       hidden>

                                                <div class="card-content">
                                                    <h2 th:text="${p.productName}"></h2>
                                                    <p>예상 만기일 : [[${p.expectedEndDate}]]</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- 내비 버튼 -->
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>

                        </div>


                    <div class="btn-wrap">
                        <button type="submit" class="agree-btn">조회</button>
                    </div>
                    </form>
                </div>


            </div>

        </div>
    </main>

<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>