<div th:replace="~{my/_head.html}"></div>
<script th:src="@{/js/my/sidebar.js}" defer></script>
<script th:src="@{/js/my/modal.js}" defer></script>
<script th:src="@{/js/member/msgBox.js}" defer></script>

<main>
    <div th:if="${msg}" th:data-msg="${msg}" id="msgBox"></div>
        <div class="board">
            <div class="side">
                <h2>마이페이지</h2>
                <aside class="sidebar">
                    <div class="side-item">
                        <div class="main-menu">
                            <p>금융상품</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/items}" class="sub-link">상품 가입 정보</a></li>
                            <li><a th:href="@{/my/cancel}" class="sub-link">상품 해지</a></li>
                        </ul>
                    </div>
                    <div class="side-item">
                        <div class="main-menu">
                            <p>설정</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/modify}" class="sub-link">사용자 정보 수정</a></li>
                            <li><a th:href="@{/my/change}" class="sub-link">비밀번호 수정</a></li>
                            <li><a th:href="@{/my/withdraw}" class="sub-link">회원탈퇴</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
    
     

            <div class="content">

                <div class="board-upper">
                    <h2>회원탈퇴</h2>
                </div>

                <div class="board-lower">
                    <hr>

                    <div class="withdraw-area">
                        <h2>회원 탈퇴를 신청하기 전, 다음 내용을 꼭 확인해주세요.</h2>
                        <div class="notice-area">
                            <p>· 고객 정보 및 개인형 서비스 이용 기록은 개인 정보보호 처리 방침 기준에 따라 삭제됩니다.</p>
                            <p>· 회원 탈퇴 시 더이상 서비스 사용이 불가능합니다.</p>
                        </div>
                        <div class="check-area">
                            <input type="checkbox">
                            <p>안내 사항을 모두 확인하였으며, 이에 동의합니다.</p>
                        </div>

                    </div>

                    <div class="btn-wrap">
                        <button type="submit" class="agree-btn">확인</button>
                    </div>

                </div>

            </div>

        </div>


    <div class="modal">
        <div class="modal_body">
            <div class="modal-head">
                <h2>회원탈퇴</h2>
                <button type="button" class="close-modal">&#10006;</button>
            </div>
            <form th:action="@{/my/withdraw}" method="post">
                <div class="pw-info">
                    <h2>회원 탈퇴 시 모든 관련 정보가 삭제될 수 있습니다.</h2>
                    <h2>비밀번호를 입력한 후 <span>[탈퇴하기]</span> 버튼을 누르면 회원 탈퇴가 완료됩니다.</h2>
                    <input type="password" name="userPw" placeholder="비밀번호를 입력하세요.">
                    <input type="hidden" name="userId" th:value="${user.userId}">
                </div>
                <div class="modalBtn-area">
                    <button type="button" class="close-modal" id="close-btn">취소</button>
                    <button type="submit" class="register-btn">탈퇴하기</button>
                </div>
            </form>
        </div>
    </div>

</main>

<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>