<div th:replace="~{member/_head.html}"></div>
<main>
    <div class="board">


        <div class="finish-step" style="margin-top: 215px; margin-bottom: 215px;">

<!--            <svg xmlns="http://www.w3.org/2000/svg" color="#D85258" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>-->
            <img th:src="@{/images/member/time.gif}" style="width: 80px;">
            <h2>자동 로그아웃 되었습니다.</h2>
            <p>서비스를 계속 이용하시려면 로그인해 주시기 바랍니다.</p>
            <div class="btn-finish-wrap">
                <button type="submit" class="login-btn" onclick="location.href='/busanbank/member/login'">로그인<i class="xi-caret-up-circle-o icon"></i></button>
            </div>
        </div>
    </div>
</main>
<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>