<!--날짜 : 2025/11/21
이름 : 오서정
내용 : 챗봇 테스트 페이지 작성
-->
<div th:replace="~{member/_head.html}"></div>
<main>

    <div class="board">
        <img th:src="@{/images/member/chatIcon.png}" onclick="openModal()"
             class="chatbot-button">
    </div>
</main>
<!-- 이미지 버튼 -->

<!-- 모달 -->
<div id="chatModal" class="modal-overlay">

    <div class="modal-container">

        <!-- 닫기 버튼 -->
        <div class="modal-head">
            <h2 class="modal-title">ChatBot</h2>
            <button onclick="closeModal()" class="modal-close">×</button>
        </div>


        <!-- 대화 영역 -->
        <div id="chat-box" class="chat-content">
            <div class="bot-msg-container">
                <img th:src="@{/images/member/chatIcon.png}">
                <div class="bot-msg">
                    무엇을 도와드릴까요?
                    <!-- 키워드 버튼 -->
                    <div class="keyword-area">
                        <button class="keyword-btn" data-text="예금 상품 뭐가 있는지 상품명 알려줘">예금</button>
                        <button class="keyword-btn" data-text="카드 신청에 대한 정보 알려줘">카드</button>
                        <button class="keyword-btn" data-text="펀드에 대한 정보 알려줘">펀드</button>
                        <button class="keyword-btn" data-text="외환 개설에 대한 정보 알려줘">외환</button>
                    </div>
                </div>
            </div>

        </div>


        <!-- 입력 영역 -->
        <form id="chat-form" class="chat-input-area">
            <input type="text" id="chat-input" class="chat-input" placeholder="질문 입력..." required>
            <button type="submit" class="chat-send-btn">보내기</button>
        </form>

    </div>
</div>

<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>