<!--
    날짜 : 2025/11/21
    이름 : 오서정
    내용 : 회원탈퇴 완료 페이지 html/css 수정 작성
-->

<div th:replace="~{member/_head.html}"></div>
<script th:src="@{/js/my/sidebar.js}" defer></script>



<main>
        <div class="board">

                <div class="board-upper">
                    <h2>회원 탈퇴</h2>

                </div>

                <div class="board-lower">


                     <div class="finish-step">

                         <img th:src="@{/images/member/handshake.gif}">
                        <h2>회원 탈퇴가 완료되었습니다.</h2>
                         <p>그동안 서비스를 이용해 주셔서 감사합니다.</p>
                        <div class="btn-finish-wrap">
                            <button type="submit" class="login-btn" onclick="location.href='/busanbank/'">홈으로<i class="xi-home-o"></i></button>
                        </div>
                    </div>


            
                    </div>
                </div>
            </div>
    </main>


<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>