<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>딸깍은행::공지사항 수정</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_noticeModify.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">공지사항 수정</span>
            </div>

            <form th:action="@{/admin/notice/modify}" method="post">
                <input type="hidden" name="id" th:value="${boardDTO.id}">

                <div class="form-group">
                    <label class="form-label">제목</label>
                    <input
                        type="text" name="title"
                        class="form-input" placeholder="이벤트 제목을 입력하세요"
                        maxlength="100" th:value="${boardDTO.title}">
                </div>

                <div class="form-group">
                    <label class="form-label">내용</label>
                    <textarea
                        name="content" id="content"
                        class="form-textarea" th:text="${boardDTO.content}"></textarea>
                </div>

                <div class="button-group">
                    <button type="button" class="btn btn-cancel" onclick="history.back()">취소하기</button>
                    <button type="submit" class="btn btn-submit">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>