/*admin_category.css*/
.main-left { /* 왼쪽 레이아웃 */
    background: #E1545A 0 0 no-repeat padding-box;
    height: auto;
    left: 0;
    min-height: 100vh;
    opacity: 1;
    position: relative;
    top: 0;
    width: 360px;
}
.main-logo { /* 로고 */
    width: auto;
    height: 25px;
    left: 50px;
    position: relative;
    top: 50px;
}
.first-line {
    display: flex;
    height: 30px;
    left: 50px;
    position: absolute;
    top: 95px;
    width: 260px;
}
.name_sp {
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    font: normal normal 600 14px/16px Pretendard;
    height: 30px;
    justify-content: center;
    opacity: 1;
    width: 70px;
}
.welcome_sp {
    color: #FFFFFF;
    font: normal normal 14px/16px Pretendard;
    font-weight: 500;
    height: 16px;
    letter-spacing: 0px;
    opacity: 1;
    padding-left: 10px;
}
.name-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logout_btn { /* 로그아웃 버튼 */
    background-color: #E1545A;
    border:none;
    cursor: pointer;
}
.logout_img { /* 로그아웃 이미지 */
    height: 18px;
    width: 18px;
}
.search-box { /*검색창*/
    align-items: center;
    display: flex;
    height: 45px;
    left: 50px;
    position: absolute;
    top: 135px;
    width: 260px;
}
#search_input {
    border: none;
    height: 45px;
    outline: none;
    padding-left: 15px;
    width: 227px;
}
#search_input::placeholder {
    color:#B9B9B9;
    text-indent: 15px;
}
.search_btn {
    background-color: white;
    border:none;
    cursor: pointer;
    height: 45px;
    padding-right:15px;
}
.search_img {
    height: 18px;
    width: 18px;
}
.category1 { /* 카테고리 */
    cursor: pointer;
    display: flex;
    left: 50px;
    position: absolute;
    top: 230px;
    width: 262px;
}
.category1_img_div {
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.category_sp {
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    border-left: none;
    display: flex;
    font: normal normal 600 16px/24px Pretendard;
    height: 50px;
    justify-content: center;
    width:212px;
}
.category1-ul {
    display: none;
    left: 100px;
    list-style: none;
    position: absolute;
    top: 280px;
    width: 262px;
}
.category-li {
    height: 50px;
    width: 212px;
}
.category-a{
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    border-top: none;
    color:#666666;
    display: block;
    display: flex;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 14px;
    font-family: Pretendard;
    height: 50px;
    justify-content: center;
    line-height: 18px;
    text-decoration: none;
}

.category2 {
    cursor: pointer;
    display: flex;
    left: 50px;
    position: absolute;
    top: 295px;
    transition: top 0.3s ease;
    width: 262px;
}
.category2_img_div {
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.category2-ul {
    display: none;
    left: 100px;
    list-style: none;
    position: absolute;
    top: 345px;
    width: 262px;
}

.category3 {
    cursor: pointer;
    display: flex;
    left: 50px;
    position: absolute;
    top: 360px;
    width: 262px;
    transition: top 0.3s ease;
}
.category3_img_div {
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.category3-ul {
    display: none;
    left: 100px;
    list-style: none;
    position: absolute;
    top: 410px;
    width: 262px;
}

.category4 {
    cursor: pointer;
    display: flex;
    left: 50px;
    position: absolute;
    top: 425px;
    transition: top 0.3s ease;
    width: 262px;
}
.category4_img_div {
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.category4-ul {
    display: none;
    left: 100px;
    list-style: none;
    position: absolute;
    top: 475px;
    width: 262px;
}

.category5 {
    cursor: pointer;
    display: flex;
    left: 50px;
    position: absolute;
    top: 490px;
    transition: top 0.3s ease;
    width: 262px;
}
.category5_img_div {
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.category5-ul {
    display: none;
    left: 100px;
    list-style: none;
    position: absolute;
    top: 540px;
    width: 262px;
}

.category6 {
    cursor: pointer;
    display: flex;
    left: 50px;
    position: absolute;
    top: 555px;
    transition: top 0.3s ease;
    width: 262px;
}
.category6_img_div {
    align-items: center;
    background-color: white;
    border: 2px solid #FFB9BD;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.category6-ul {
    display: none;
    left: 100px;
    list-style: none;
    position: absolute;
    top: 605px;
    width: 262px;
}

.footer_div { /* main-left의 footer */
    color: white;
    font: normal normal 300 12px/16px Pretendard;
    left: 50px;
    position: absolute;
    text-align: left;
    top: 1000px;
}