/*admin_product.css*/
* {  /* 공통 세팅 */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-right { /* 오른쪽 레이아웃 */
    background: #FFE9EA 0% 0% no-repeat padding-box;
    height: 1080px;
    left: 360px;
    opacity: 1;
    top: 0px;
    width: 1560px;
}

.productList_title {
    display: flex;
    justify-content: space-between;
    left: 410px;
    position: absolute;
    top: 86px;
    width:1460px;
}
.title_sp {
    color:#D03238;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 28px;
    font-family: Pretendard;
    line-height: 29px;
}
.title_btn {
    background-color: white;
    border: 1px solid #E1545A;
    border-radius: 5px;
    color: #666666;
    cursor: pointer;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: Pretendard;
    height: 35px;
    line-height: 24px;
    width: 100px;
}
.title_btn.active {
    background-color: #E1545A;
    color: white;
}

table {
    border-collapse: collapse;
    box-shadow: 0px 4px 10px #00000029;
    left: 410px;
    position: absolute;
    top: 135px;
    width: 1460px;
}
th {
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 18px;
    font-family: Pretendard;
    height: 60px;
    line-height: 24px;
}
.content_tr {
    background-color: white;
    border-bottom: 1px solid #B9B9B9;
    text-align: center;
}
.content_tr_last {
    background-color: white;
    text-align: center;
}
td {
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 16px;
    font-family: Pretendard;
    height: 60px;
    line-height: 18px;
}
.productList_btn {
    background-color: white;
    border: none;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
.toggle_div {
    display: inline-block;
    height: 18px;
    margin: 0 10px;
    width: 18px;
    vertical-align: middle;
}
.toggleSwitch {
    background-color: #fff;
    border: 1px solid #666666;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 12px;
    position: relative;
    width: 18px;
}

.toggleSwitch .toggleButton {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: white;
    border: 1px solid #666666;
}
#toggle:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
    background: #fff;
    left: calc(100% - 10px);
}
.toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
}

.productList_btn,
.toggleSwitch {
    display: inline-block;
    vertical-align: middle;
}

/* 이 밑으로 보여주기식 css*/
#toggle2:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle2:checked ~ .toggleSwitch .toggleButton {
    background: #fff;
    left: calc(100% - 10px);
}
#toggle3:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle3:checked ~ .toggleSwitch .toggleButton {
    background: #fff;
    left: calc(100% - 10px);
}
#toggle4:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle4:checked ~ .toggleSwitch .toggleButton {
    background: #fff;
    left: calc(100% - 10px);
}
#toggle5:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle5:checked ~ .toggleSwitch .toggleButton {
    background: #fff;
    left: calc(100% - 10px);
}
#toggle6:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle6:checked ~ .toggleSwitch .toggleButton {
    background: #fff;
    left: calc(100% - 10px);
}
#toggle7:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle7:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle8:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle8:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle9:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle9:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle10:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle10:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle11:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle11:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle12:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle12:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle13:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle13:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle14:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle14:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}
#toggle15:checked ~ .toggleSwitch {
    background: #666666;
}

#toggle15:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 10px);
    background: #fff;
}


/*페이지네이션 부분*/
.page_div {
    left: 1040px;
    position: absolute;
    top: 833px;
}
.pagenation {
    width: 100%;
    height: 62px;
    padding:0px;
    text-align: center;
}
.pagenation li {
    border: 1px solid #B9B9B9;
    display: inline-block;
    list-style: none;
    width: 32px;
    height: 32px;
}
.pagenation .page1 {
    background-color: #E1545A;
    color: white;
    display: block;
    line-height: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
.pagenation .page2, .pagenation .page3 {
    background-color: white;
    color: #B9B9B9;
    display: block;
    line-height: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
.pagenation li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.pagenation li a span {
    background-size: contain;
    background-repeat: no-repeat;
    display:inline-block;
    width: 10px;
    height: 10px;
}
.pagenation .prev {
    background-image: url('/busanbank/images/admin/btn-prev-page.png');
}
.pagenation .next {
    background-image: url('/busanbank/images/admin/btn-next-page.png');
}