<!--
    수정일 : 2025/11/29
    수정자 : 천수빈
    내용 : 인터넷뱅킹 가입고객 UI*UX 변경
-->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>딸깍은행::가입절차</title>

    <!-- 딸깍은행 공통 -->
    <link rel="stylesheet" th:href="@{/css/common/style_common.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}">
    <link href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">

    <!-- 고객센터 공통 -->
    <link rel="stylesheet" th:href="@{/css/cs/_csheader.css}">
    <link rel="stylesheet" th:href="@{/css/cs/_csfooter.css}">

    <link rel="stylesheet" th:href="@{/css/cs/common.css}">
    <link rel="stylesheet" th:href="@{/css/member/AutoLogout.css}">
    <link rel="stylesheet" th:href="@{/css/member/Chatbot.css}">

    <script th:src="@{/js/cs/csGnbDropdown.js}" defer></script>
    <script th:src="@{/js/cs/csGlobalBtn.js}" defer></script>
    <script th:src="@{/js/cs/tabMove.js}" defer></script>
    <script th:src="@{/js/cs/sidebar.js}" defer></script>
    <script th:src="@{/js/cs/faqToggle.js}" defer></script>
    <script th:src="@{/js/translate.js}" defer></script>
    <script th:src="@{/js/searchOverlay.js}" defer></script>
    <script th:src="@{/js/member/session-timer.js}" defer></script>
</head>

<body>
    <!-- Header 부분 -->
    <div th:replace="~{cs/_csheader :: csHeaderFragment}"></div>

    <section class="all-wrapper container">
        <div th:replace="~{cs/_sidebar :: sidebarFragment}"></div>

        <section class="page-content">
            <h2>인터넷뱅킹 가입 고객</h2>

            <div class="explain">
                <ul>
                    <li>딸깍은행 홈페이지에서 인터넷뱅킹을 하시기 위한 가입절차 입니다.</li>
                    <li>본 가입 절차는 인터넷뱅킹 가입 고객을 위한 가입절차 안내이며 해당 가입절차에 따라 인터넷뱅킹에 가입하시기 바랍니다.</li>
                </ul>
            </div>

            <section class="join-guide">
                 <div class="step-box">
                    <h3>STEP 1</h3>
                    <h4>공동인증서(구 공인인증서) 발급/등록</h4>
                    <p>딸깍은행 홈페이지에서 공동인증서(구 공인인증서)를 발급하시거나 등록해주세요.</p>
                        <ul>
                            <li>공동인증서(구 공인인증서)가 있어야 은행의 거래업무가 가능합니다.</li>
                            <li>공동인증서(구 공인인증서)가 없는 고객은 딸깍은행에서 신규로 발급하시거나 타행에 공동인증서(구 공인인증서)가 있다면 <br>
                             [타행/타기관공동인증서(구 공인인증서)등록] 메뉴에서 가지고 계신 공동인증서(구 공인인증서)를 등록해주시면 됩니다.</li>
                        </ul>
                        <div class="btn-area">
                            <a href="#" class="btn">공동인증서(구 공인인증서) 신규발급</a>
                            <a href="#" class="btn">타행/타기관공동인증서(구 공인인증서)등록</a>
                        </div>
                </div>

                <div class="step-box">
                    <h3>STEP 2</h3>
                    <h4>인터넷뱅킹 서비스 이용</h4>
                    <p>로그인 및 공동인증서(구 공인인증서)를 통하여 인터넷뱅킹 서비스를 이용할 수 있습니다.</p>
                        <ul>
                            <li>발급받은 공동인증서(구 공인인증서)로 로그인 하시거나 아이디/패스워드로 로그인하시면 딸깍은행 홈페이지에서 서비스를 이용할 수 있습니다.</li>
                            <li>딸깍은행 홈페이지는 영업점에서 발급하신 아이디와 패스워드를 지정하시면 로그인이 가능합니다.</li>
                        </ul>
                        <div class="btn-area">
                            <a href="#" class="btn">서비스체험관</a>
                        </div>
                </div>
            </section>
        </section>
    </section>

    <!-- Footer 부분 -->
    <div th:replace="~{cs/_csfooter :: csfooterFragment(${appInfo})}"></div>
</body>
</html>





