/*
    수정일 : 2025/11/24
    수정자 : 천수빈
    내용 : root 컬러 추가
*/

:root {
    --purple-900: #662382; /* 메인 컬러 */
    --purple-800: #6b21a8;
    --purple-700: #883ea8;
    --purple-600: #9333ea;
    --purple-300: #8978a5;
    --purple-100: #F5EEFA;
    --pink-700: #e5007d;
    --pink-300: #ec6ea5;
    --pink-100: #ffe1ec;
    --pink-50: #fff8fa;
    --red-900: #D03238;
    --red-700: #E1545A;
    --red-600: #FF4148;
    --red-500: #FFB9BD;
    --red-300: #FFD1D3;
    --red-200: #FFE9EA;
    --red-100: #FFF6F7;
    --orange-900: #FF8800;
    --orange-500: #FFBB6E;
    --orange-100: #FFF3E5;
    --green-900: #02A84D;
    --green-100: #E9FFF3;
    --blue-900: #0080E2;
    --blue-100: #E9F8FF;
    --white: #ffffff;
    --dark: #0E0E0E;
    --grey-900: #333333;
    --grey-700: #666666;
    --grey-500: #B9B9B9;
    --grey-300: #DEDEDE;
    --grey-200: #e7e7e7;
    --grey-100: #F8F8F8;
    --grey-50: #fdfdfd;
    --container: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

html,body {
    min-width: 1200px;
    height: 100%;
    overflow-x: auto;
}

/*!* Chrome, Safari, Edge *!*/
/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*!* Firefox *!*/
/*body {*/
/*    scrollbar-width: none;*/
/*}*/

/*!* IE, Edge 구버전 *!*/
/*body {*/
/*    -ms-overflow-style: none;*/
/*}*/

a {
    color: inherit; 
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

.container {
    width: var(--container);
    max-width: calc(100% - 40px);
    margin: 0 auto;
}