<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록 관리</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_productList.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}">
    <script th:src="@{/js/admin/admin_productList.js}"></script>
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

    <div class="main-right">
        <div class="productList_title">
            <span class="title_sp">상품 목록 관리</span>
            <div>
                <button class="title_btn" >상품명순</button>
                <button class="title_btn">금리순</button>
                <button class="title_btn">등록일순</button>
                <button class="title_btn">판매상태</button>
            </div>
        </div>

        <table>
            <tr style="background-color: #E1545A;color:white;">
                <th style="border-radius: 5px 0 0 0;">No.</th>
                <th>상품명</th>
                <th>상품유형</th>
                <th>금리(%)</th>
                <th>가입기간</th>
                <th>판매상태</th>
                <th>등록일</th>
                <th>최근수정일</th>
                <th>조회수</th>
                <th>담당자</th>
                <th style="border-radius: 0 5px 0 0;">관리</th>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>윤종인</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle" hidden checked>
                        <label for="toggle" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>6개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>천수빈</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle2" hidden checked>
                        <label for="toggle2" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>24개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>윤종인</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle3" hidden checked>
                        <label for="toggle3" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>윤종인</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle4" hidden checked>
                        <label for="toggle4" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>오서정</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle5" hidden checked>
                        <label for="toggle5" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>24개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>장진원</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle6" hidden checked>
                        <label for="toggle6" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>6개월</td>
                <td>판매 중지</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>장진원</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle7" hidden>
                        <label for="toggle7" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>우지희</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle8" hidden checked>
                        <label for="toggle8" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>윤종인</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle9" hidden checked>
                        <label for="toggle9" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>6개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>오서정</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle10" hidden checked>
                        <label for="toggle10" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>김수진</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle11" hidden checked>
                        <label for="toggle11" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>24개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>천수빈</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle12" hidden checked>
                        <label for="toggle12" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>우지희</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle13" hidden checked>
                        <label for="toggle13" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>12개월</td>
                <td>판매 중지</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>천수빈</td>
                <td>
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle14" hidden>
                        <label for="toggle14" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr_last">
                <td style="border-radius: 0 0 0 5px;">BNK010029</td>
                <td>꿈이룸 외화자유적금</td>
                <td>외화적금</td>
                <td>5%</td>
                <td>6개월</td>
                <td>판매중</td>
                <td>2025.10.15</td>
                <td>2025.11.04</td>
                <td>1,546</td>
                <td>김수진</td>
                <td style="border-radius: 0 0 5px 0;">
                    <button class="productList_btn">
                        <img src="/static/images/admin/free-icon-pencil-7175371.png" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                    <div class="toggle_div">
                        <input type="checkbox" id="toggle15" hidden checked>
                        <label for="toggle15" class="toggleSwitch">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                    <button class="productList_btn">
                        <img src="/static/images/admin/cross-mark.png" alt="삭제 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
        </table>

        <div class="page_div">
            <ul class="pagenation">
                <li><a href="#" class="page2"><span class="prev"></span></a></li>
                <li><a href="#" class="page1">1</a></li>
                <li><a href="#" class="page2">2</a></li>
                <li><a href="#" class="page2">3</a></li>
                <li><a href="#" class="page2">...</a></li>
                <li><a href="#" class="page2">10</a></li>
                <li><a href="#" class="page2"><span class="next"></span></a></li>
            </ul>
        </div>


    </div>
</div>
</body>
</html>