
.login-active{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.login-active a{
    cursor: pointer;
}

.login-active a:hover{
    text-decoration: underline;
}

.session-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid transparent;
    background:
            linear-gradient(white, white) padding-box,
            linear-gradient(90deg, #662382, #ec6ea5) border-box;
    width: 140px;
    height: 35px;
}

.session-box button{
    width: 50px;
    height: 31px;
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 500;

    color: white;
    background-color: var(--pink-300) ;
    cursor: pointer;
}

.session-box p{
    color: var(--grey-900);
    padding: 5px 10px;

    font-size: 18px;
    font-weight: 600;
}
